html * {
    font-family: Roboto, sans-serif;
    color: white;
}

body {
    background-color: #006557;
}

body a,form {
    display: block;
    text-align: center;
    font-size: 5em;
}

form * {
    color: #006557;
}
form label{
    color: white;
    font-size: 0.5em;
}


body a:first-of-type {
    margin-top: 30vh;
}

pills a {
    color: red;
}
pills a:first-of-type {
    color: blue;
}