body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    padding: 40px;
    font-size: 16px;
    line-height: 26px;
}

img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 26px;
}
p {
    margin-bottom: 26px;
}
p:last-child {
    margin-bottom: 0;
}

.site-wrapper {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*Header*/
.site-header {
    padding: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.site-title {
    float: left;
    margin: 0;
}

/*Nav*/
.site-navigation {
    float: right;
}
.site-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: #888;
    padding: 0 20px;
}
.site-navigation a:hover {
    color: #4cacbe;
}

/*Main*/
.content-wrapper {
    padding: 40px;
}
